.footer-pragraph p strong {
    color: #909090;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.7s;
}

#myBtn:hover {
    background-color: black;
    color: #fff;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
}